.modal_main{
    position:fixed;
    left: 65%;
    width: 30rem;
    height: 5rem;
    background: rgb(15, 92, 98);
    color: rgb(255, 255, 255);
    border: solid rgb(255, 255, 255) 5px;
    border-radius: 3px;
    justify-content: left;
    text-align: left;
}

.modal {
    position: fixed;
    width:50px;
    height: 50px;
    display:block;
    color: black;
    padding: 1rem;
}

.modal_none {
    display:none;
}

.modal_input{
    width: 80%;
    height: 5px;
    border: black solid 1px;
    border-radius: 3px;
    display: flex;
}